.phone-window{
    width: fit-content;
    padding: 9px 9px 9px 9px;
    background: url(../img/dest/iphone.png);
    background-repeat: no-repeat;
    // background-size: contain;   
}
.phone-window--routine{
    position: sticky;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 222px;
    max-height: 443px;
    z-index: 2;
}
.sticky-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.phone-lg{
    background: url(../img/dest/iphone-routine.png);
    background-repeat: no-repeat;
    padding: 12px 14px;
    border-radius: 34px;
    box-shadow: 0px 71px 81px rgba(0, 0, 0, 0.3);
}
.phone--task{
    margin-left: 28px;
    width: fit-content;
}
.macbook-window{
    width: fit-content;
    padding-left: 55px;
    padding-right: 53px;
    padding-bottom: 36px;
    padding-top: 11px;
    background: url(../img/dest/macbook-shadow.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.macbook-window--intro{
    position: absolute;
    left: 75px;
    bottom: 0%;
    z-index: 1;
    box-shadow: 0 175px 81px -90px rgba(0,0,0,.3);
}
.ipad-horizontal-window{
    background: url(../img/dest/ipad_horizontal.png);
    width: 585px;
    height: 413px;
    padding-left: 53px;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-right: 53px;
    background-repeat: no-repeat;
}
.ipad-vertical-window{
    background: url(../img/dest/ipad_vertical.png);
    width: fit-content;
    padding-left: 24px;
    padding-top: 53px;
    padding-bottom: 52px;
    padding-right: 28px;
    background-repeat: no-repeat;
}
.screen-wrapper{
    overflow: hidden;
    // border-radius: 5px;
}
.screen-wrapper img{
    width: 100%;
}
.star{
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 23px;
    background: url(../img/dest/star.png);
    background-repeat: no-repeat;
    background-size: contain;
}