@media(max-width:1240px){
    #bodyNav{
        display: none;
    }
}
#bodyNav{
    position: fixed;
    background-color: initial !important;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}
.nav-link.custom{
    transition: all .3s;
    width: 15px;
    height: 15px;
    padding: 0;
    margin-bottom: 22px;
    border: 2px solid #f3f1f1;
    border-radius: 0;
    &:hover{
        border-color: $primary;
    }
    &.active{
        position: relative;
        width: 20px;
        height: 20px;
        border: 2px solid $primary;
        background-color: initial;
        &::after{
            content: '';
            transition: all .3s;
            display: block;
            position: absolute;
            right: 1px;
            bottom: 1px;
            width: 5px;
            height: 5px;
            background-color: $primary;
        }
    }
}
.phone-window{
    width: fit-content;
    padding: 9px 9px 9px 9px;
    background: url(../img/dest/iphone.png);
    background-repeat: no-repeat;
    background-size: cover;   
    &--intro{
        cursor: pointer;
        border-radius: 25px;
        animation: phone 2s forwards;
        box-shadow: 0 47px 67px rgba(0,0,0,.3);
        &.active{
            position: relative;
            animation: phone-reverse 2s forwards;
        }
        .moc-picture{
            max-width: 145px;
        }
    }
}
.phone-window--routine{
    position: sticky;
    top: 25%;
    margin: auto;
    max-width: 222px;
    max-height: 443px;
    z-index: 2;
}
.sticky-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.phone-lg{
    background: url(../img/dest/iphone-routine.png);
    background-repeat: no-repeat;
    padding: 12px 13px;
    border-radius: 34px;
    box-shadow: 0px 71px 81px rgba(0, 0, 0, 0.3);
}
.phone--task{
    margin-left: 28px;
    width: fit-content;
}
.macbook{
    &-window{
        width: fit-content;
        padding-left: 56px;
        padding-right: 53px;
        padding-bottom: 36px;
        padding-top: 11px;
        background: url(../img/dest/macbook-shadow.png);
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0 175px 81px -90px rgba(0,0,0,.3);
    }
    &-screen{
        position: relative;
        width: 499px;
        height: 312px;
        transition: all .3s;
        &-item{
            animation: screen-swipe .5s;
            position: absolute;
        }
    }
}
.macbook-window--intro{
    pointer-events: none;
    position: absolute;
    left: 75px;
    bottom: 0%;
    z-index: 1;
    // box-shadow: 0 175px 81px -90px rgba(0,0,0,.3);
}
.ipad-horizontal-window{
    background: url(../img/dest/ipad_horizontal.png);
    width: 585px;
    height: 413px;
    padding-left: 53px;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-right: 53px;
    border-radius: 25px;
    background-repeat: no-repeat;
    box-shadow: 0px 71px 81px rgba(0, 0, 0, 0.3);
}
.ipad-vertical-window{
    background: url(../img/dest/ipad_vertical.png);
    width: fit-content;
    padding-left: 24px;
    padding-top: 53px;
    padding-bottom: 52px;
    padding-right: 28px;
    background-repeat: no-repeat;
    border-radius: 22px;
    box-shadow: 0px 71px 81px rgba(0, 0, 0, 0.3);
}
.ipad{
    &-screen{
        &-horizontal{
            position: relative;
            max-width: 479px;
            width: 100%;
            max-height: 360px;
            height: 100%;
        }
        &-vertical{
            position: relative;
            width: 359px;
            height: 479px;
            // height: 100%;
            // width: 100%;
        }
        &-item{
            opacity: 0;
            width: 100%;
            position: absolute;
            transition: all .5s;      
            transform: translateY(0%);
            &.active{
                transform: translateY(0%);
                opacity: 1;
                z-index: 2;
                // animation: screen-swipe .5s;
            }
    }
    }
    &-table{
        transition: all .4s;
        position: absolute;
        display: block;
        left: 8px;
        top: 56px;
        max-width: 224px;
        border-radius: 8px;
        &.active{
            box-shadow: 4px 4px 4px rgba(0,0,0,.4);
            transform: translateY(-6px);
        }
    }
    &-kvartal{
        transition: all .4s;
        position: absolute;
        display: block;
        right: 8px;
        top: 56px;
        max-width: 224px;  
        border-radius: 8px;
        &.active{
            box-shadow: 4px 4px 4px rgba(0,0,0,.4);
            transform: translateY(-6px);
        }
    }
    &-analitica{
        transition: all .4s;
        position: absolute;
        display: block;
        left: 20px;
        bottom: 10px;
        max-width: 440px;
        border-radius: 8px;
        &.active{
            box-shadow: 4px 4px 4px rgba(0,0,0,.4);
            transform: translateY(-6px);
        }
    }
    &-indicators{
        transition: all .4s;
        position: absolute;
        display: block;
        right: 22px;
        top: 78px;
        max-width: 195px;
        border-radius: 8px;
        &.active{
            box-shadow: 4px 4px 4px rgba(0,0,0,.4);
            transform: translateY(-6px);
        }
    }
}
.screen-wrapper{
    overflow: hidden;
    ::-webkit-scrollbar{
        position: absolute;
        width: 4px; /* ширина для вертикального скролла */
        height: 6px; /* высота для горизонтального скролла */
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        position: absolute;
        background-color: #b1b1b1;
        border-radius: 2px;
    }
}
.screen-iphone{
    position: relative;
    border-radius: 20px;
    width: 195px;
    height: 419px;
    transition: all .3s;
}
.screen-item{
    position: absolute;
    max-height: 419px;
    z-index: 1;  
    // transform: translateY(100%);
    transition: all .5s;  
    opacity: 0;  
    &.active{
        // transform: translateY(0);
        opacity: 1;
        z-index: 5;
        // animation: screen-swipe .5s;
    }
    &-task{
        width: 100%;
    }
}
.screen-wrapper .moc-picture{
    width: 100%;
    display: block;
}
.star{
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 23px;
    background: url(../img/dest/star.png);
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes phone {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-200px);
        z-index: 3;
        position: relative;
    }
    100%{
        transform: translateX(0);
        z-index: 3;
        position: relative;
        box-shadow: 0px 71px 81px rgba(0, 0, 0, 0.3)
    }
}
@keyframes phone-reverse {
    0%{
        box-shadow: 0px 71px 81px rgba(0, 0, 0, 0.3);
        transform: translateX(0);
        z-index: 3;
        position: relative;
    }
    50%{
        transform: translateX(-200px);
        z-index: 3;
        position: relative;
    }
    100%{
        transform: translateX(0);
        box-shadow: 0 47px 67px rgba(0,0,0,.3);
    }
}
@keyframes screen-swipe{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}