@import "variables";
@import "header";
@import "components";
@import "sections";
@import "sections/team.scss";
@import "sections/routine.scss";
@import "sections/task.scss";
@import "sections/get-free.scss";
@import "sections/tarif.scss";
@import "sections/reviews.scss";
@import "sections/feedback.scss";
@import "custom-slider.scss";
@import "footer.scss";
@import "smslider";
@import "media.scss";
@import "fonts";

body {
  position: relative;
  font-family: 'Gotham Pro';

  &.overflow-hide {
    overflow: hidden;
    height: 100vh;
    padding-right: 15px;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a:hover {
  color: unset;
  text-decoration: none;
}

p {
  margin: 0;
}

.vissually-hidden {
  position: absolute !important;
  visibility: hidden !important;
  pointer-events: none !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  text-indent: -9999px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.btn-style:focus {
  border: none;
  outline: none;
}

.btn-style {
  cursor: pointer;
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 44px;
  padding-right: 44px;
  min-height: 72px;
  background: $gradietnt-right;
  box-shadow: $btn-shadow;
  color: $white;
  text-align: center;
  border-radius: 45px;
  text-shadow: 0 1px 0px #a2572a;
  z-index: 1;
}

.btn-style:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background: $gradietnt-bottom;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

.btn-style:hover {
  color: $white;

  &::after {
    opacity: 1;
  }

  .key {
    opacity: 1;
    transform: translateX(0);
    width: 29px;
    margin-left: 20px;
  }
}

.btn-text {
  position: relative;
  z-index: 3;
}

.key {
  content: '';
  position: relative;
  transition: all .3s;
  opacity: 0;
  z-index: 4;
  display: inline-block;
  width: 0px;
  height: 30px;
  background: url(../img/dest/Key.png);
  background-repeat: no-repeat;
}

.sm_slider-inner {
  overflow: visible !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  &-hit {
    position: absolute;
    background-color: #59dd83;
    top: 16px;
    right: 0;
    z-index: 50;
    transform: rotate(45deg);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.collapse,
.collapsing {
  max-height: 334px;
  overflow: overlay;
}

.modal-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  // border: 1px solid rgba(0, 0, 0, .2);
  padding: 15px;
  border-radius: 20px;

  .btn-style {
    margin: auto;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }

  &__close {
    float: right;
    font-size: 38px;
    font-weight: 400;
    line-height: 1;
    color: $primary;
    text-shadow: 0 1px 0 #fff;
    background: initial;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:focus {
      border: none;
      outline: none;
    }
    &:hover{
      color: #c77442;
    }
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }

  &__input {
    border-radius: 50px;
    padding: 22px;
    width: 100%;
    border: 1px solid #a2a2a2;

    &:focus {
      outline: none;
    }
  }

  .input-wrapper {
    max-width: 325px;
    margin: auto;
    margin-bottom: 25px;
  }

  .image-wrapper {
    padding: 0 15px;

    img {
      width: 100%;
    }
  }
  .form-link{
    display: block;
    text-align: center;
    margin-top: 16px;
    color: $grey;
    &:hover{
      color: $primary;
    }
  }
}

@media(max-width:768px) {
  .btn-style {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 52px;
    margin: auto;

    .key {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      width: 29px;
      margin-left: 20px;
      height: 26px;
      background-size: contain;
      background-position: center;
    }
  }
  .modal-custom{
    &__input{
      padding: 14px;
      &::placeholder{
        font-size: 14px;
      }
    }
    &__title{
      font-size: 16px;
      font-weight: 500;
    }
    .input-wrapper{
      margin-bottom: 20px;
    }
  }
}