@import "variables";
@import "header";
@import "components";
@import "sections";
@import "sections/team.scss";
@import "sections/routine.scss";
@import "sections/task.scss";
@import "sections/get-free.scss";
@import "sections/tarif.scss";
@import "sections/reviews.scss";
@import "sections/feedback.scss";
@import "custom-slider.scss";
@import "footer.scss";
@import "smslider";
@import "media.scss";
@import "fonts";

body{
  position: relative;
  font-family: 'Gotham Pro';
  &.overflow-hide{
    overflow: hidden;
    height: 100vh;
    padding-right: 15px;
  }
}
ul, ol{
  list-style: none;
  padding: 0;
}
a:hover{
  color: unset;
  text-decoration: none;
}
p{
  margin: 0;
}
.vissually-hidden{
  position: absolute !important;
  visibility: hidden !important;
  pointer-events: none !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  text-indent: -9999px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.btn-style:focus{
  border: none;
  outline: none;
}
.btn-style{
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 44px;
  padding-right: 44px;
  min-height: 72px;
  background: $gradietnt-right;
  box-shadow: $btn-shadow;
  color: $white;
  text-align: center;
  border-radius: 45px;
  text-shadow: 0 1px 0px #a2572a;
  z-index: 1;
}
.btn-style:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background: $gradietnt-bottom;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}
.btn-style:hover{
  color: $white;
  &::after {
    opacity: 1;
  }
  .key{
    opacity: 1;
    transform: translateX(0);
    width: 29px;
    margin-left: 20px;
  }
}
.btn-text {
  position: relative;
  z-index: 3;
}
.key{
  content: '';
  position: relative;
  transition: all .3s;
  opacity: 0;
  z-index: 4;
  display: inline-block;
  width: 0px;
  height: 30px;
  background: url(../img/dest/Key.png);
  background-repeat: no-repeat;
}
.sm_slider-inner{
  overflow: visible !important;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
@media(max-width:768px){
  .intro .btn-style{
      font-size: 12px;
      padding-left: 30px;
      padding-right: 30px;
      min-height: 52px;
      margin: auto;
      .key{
        height: 26px;
        background-size: contain;
        background-position: center;
      }
  }
}